/* Analytics Title */
.analytics-title {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Norwester', sans-serif;
    text-align: center;
    margin-top: 45px;
    color: #443a90;
    position: relative;
    transition: 0.4s ease;
}

.analytics-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analytics-content-container h1{
    font-size: 50px;
    color: #443a90;
}

.symbol-selector-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #443a90;
}

.plot-container {
    width: 90%;
    height: 500px;
    margin: auto;
}

.predict-button {
    background-color: #443a90;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.predict-button:hover {
    background-color: white;
    color: #443a90;
    border: 4px solid #443a90;
}
/* For WebKit browsers like Chrome and Safari */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: purple;
}


/* Analytics Text */
.analytics-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4%;
    margin-top: 1%;
    padding: 20px;
    font-size: 22px;
    background: linear-gradient(-1deg, rgba(153, 102, 255, 0.1), rgba(170, 128, 255, 0.05));
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.4s ease;
    color: #3d3b48;
}

/* Hover Effect */
.analytics-text:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}


/* Media Query for smaller screens */
@media (max-width: 768px) {
    .analytics-title {
        font-size: 50px;
        margin-top: 30px;
    }
    .analytics-text {
        font-size: 21px;
        margin: 4%;
        margin-bottom: 6%;
    }
}
